* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ab8d3f;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: #000050;
  box-shadow: 1rem;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  overflow: hidden;
  left: 0;
  right: 0;
}


nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

nav li.dropdown {
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav .dropdown-content a:hover {background-color: #f1f1f1;}

nav .dropdown:hover .dropdown-content {
  display: block;
}


a:link {text-decoration: none; color:#3EB489; }
a:visited {text-decoration: none; color:#3EB489;}
a:hover { text-decoration: none; color:white;}
a:active {text-decoration: none; color:#3EB489;}

.aboutme-outer {
  padding: 2rem;
  max-width: 75%;
  margin-left: 4rem;
}

.aboutme-inner {
  display: flex;
}

.aboutme-inner img {
  max-width: 20%;
}
.aboutme-text {
  margin-left: 1rem;
}

.project1 img {
  max-width: 250px;
}

.myprojects-outer {
  display: block;
  border: 10px solid red;

  padding-left: 2rem;
}

.project1 {
  border-style: solid;
  width: 250px;
  border: 5px solid red;
  /* margin-right: 70rem; */
  display: inline;
}

.parent_projects {
  display: block;
}

.child_project {
  padding-top: 15px;
  display: flex;
}

.project {
  border: 5px solid black;
  fill: white;
  width: 450px;
  height: 350px;
  border-radius: 25px;
  margin-left: 10px;
  text-align: center;

  transition: transform 0.2s;
  margin: 0 auto;
}
.project:hover {
  transform: scale(1.1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerstyle {
  width: 100%;
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  position: fixed;
  padding: 1px;
  background-color: #000050;
  color: #3EB489;
  bottom: 0;
}

img {
  border-radius: 25px;
}

table {
  border-spacing: 10px;
}
table,
th,
td {
  border: 1px solid;
}

.icons {
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.links {
  padding-left: 10%;
  display: flex;
  line-height: 200px;
  width: 50%;
}

.stack{
  list-style: none;
}

.stack li::before {
  content: "\2022";
  color: black;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: 1em;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.chat-popup {
  position: fixed;
  top: 10%;
  bottom: 10%;
  right: 2%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 20px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

